body{
  margin: 0;
  padding: 0;
  background-color: rgb(248, 243, 243);
}
.background{
  position: relative;
  top: 26vh;
  right: 6vw;
  background-image: url(./imagens/churrasco.png);
  background-size: cover;
  width: 70vw;
  height: 70vh;
  box-sizing: border-box;
  
}
.title1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  position: relative;
  bottom: 15vh;
  left: 10vw
}
.title{
  color: black;
  
}
#container{
  font-family: Arial, Helvetica, sans-serif;  
  position:relative;
  bottom: 25vh;
  left: 70vw;
  max-width: 300px;
  background-color: rgb(163, 227, 245);
  padding: 20px;
  border-radius: 15px;
  
}
input{
    width: 100%;
    display:block;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: ;
    
}
button{
  background-color: #3399cc;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color:beige;
  font-size: 13px;
  font-weight: bold;
}