body{
  background-color: rgba(239, 239, 234, 0.641);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
#container{
  max-width: 300px;
  background: rgb(68, 215, 245);
  padding: 30px;
  padding-left: 15px;
  position: relative;
  left: 60vw;
  bottom: 70vh;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.figure{
  width: 80vw;
  height: 70vh;
  position: relative;
  right: 8vw;
  top: 22vh;
  
}
.title1{
  position:relative;
  left: 5vw;
  top: 10vh;
}
button{
  width:80px;
  margin-top:10px;
  padding:10px;
  background: rgb(30, 188, 215);
  color:white;
  font-weight: bold; 
  border-radius: 10px;
  font-size: 14px;
}

@media screen and (max-width:880px ){
  #container{
    max-width: 280px;
    background: rgb(68, 215, 245);
    padding: 30px;
    padding-left: 15px;
    margin: 0;
    position: relative;
    left: 60vw;
    bottom: 70vh;
    border-radius: 10px;
  }
  .figure{
    width: 95vw;
    height: 70vh;
    position: relative;
    right: 8vw;
    top: 22vh;
    
  }
}
@media screen and (max-width:750px){
  #container{
    max-width: 260px;
    background: rgb(68, 215, 245);
    padding: 30px;
    padding-left: 15px;
    margin: 0;
    position: relative;
    left: 60vw;
    bottom: 70vh;
    border-radius: 10px;
  }
  .figure{
    width: 80vw;
    height: 70vh;
    position: relative;
    right: 8vw;
    top: 22vh;
    
  }
}